.logo {
	width: 107px;
	height: 21px;
}



.navbar-default {
	background-color: transparent !important;
	border-left: none !important;
	border-right: none !important;
	border-top: none !important;
	border-bottom: 0.5px solid white !important;

}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: transparent !important;
}

.navbar-toggle:hover {

}

.head-list {
	background-color: white;
}

.banner {
	margin-top: -75px;
	height: 400px;
	z-index: -1;
	position: absolute;
}

.no-border {
	border: none;

}


.topMargin {
	/*margin-top: 400px;*/
}

.bannerText {
	position: relative;
	height: 400px;
	z-index: 1;
}


.bannerText h1 {
	position: relative;
	padding-top: 100px;
	height: 40px;
	text-align: center;
	font-size: 40px;
	color: white;
}


.bannerText h2 {
	padding-top: 40px;
	position: relative;
	height: 30px;
	text-align: center;;
	color: white;
	font-size: 24px;
	font-weight: 1;
}

.our-work {

}

.head-title {
	text-align:center;
	font-size: 30px;
	color: #333333;
}

.title-des {
	color: #666666;
	font-size: 20px;
	text-align: center;
}



.our-work .thumbnail {
	border:none;
}


.title-line {
	border-top: 1px solid black;
	width: 20%;
	height: 1;

	margin-top: 20px;
	margin-bottom: auto;


}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.work-display-section {
	margin-top: 20px;
}

.our-work h3 {
	font-size: 22px;
	color: rgb(51,51,51);
	text-align: center;

}

.our-work h4 {
	font-size: 14px;
	color: #777777;
	text-align: center;
	height: 40px;
	vertical-align: middle;
}

.bottom-bg {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 500px;
	margin: 0;
	padding: 0;
	background-image: url('img/bg@2x.jpg');
		font-size: 15px;
	color: #adb6bc;
	text-align: center;
}

.bottom-logo {
	align-items: center;
	width: 110px;
	height: 144px;
	margin: auto auto;

}

.bottom-text {

}

.bottom-bg div {
	margin-top: 30px;
	margin-left: 10px;
	margin-right: 10px;
}



