.banner {
	margin-top: -20px;
	height: 400px;
	position: absolute;
}

.no-border {
	border: none;

}


.topMargin {
	/*margin-top: 400px;*/
}

.bannerText {
	position: relative;
	height: 400px;
	z-index: 1;
}


.bannerText h1 {
	position: relative;
	padding-top: 100px;
	height: 40px;
	text-align: center;
	font-size: 40px;
	color: white;
}


.bannerText h2 {
	padding-top: 40px;
	position: relative;
	height: 30px;
	text-align: center;;
	color: white;
	font-size: 24px;
	font-weight: 1;
}

.our-work {

}

.head-title {
	text-align:center;
	font-size: 30px;
	color: #333333;
}

.title-des {
	color: #666666;
	font-size: 20px;
	text-align: center;
}



.our-work .thumbnail {
	border:none;
}


.title-line {
	border-top: 1px solid black;
	width: 20%;
	height: 1;

	margin-top: 20px;
	margin-bottom: auto;


}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.work-display-section {
	margin-top: 20px;
}

.our-work h3 {
	font-size: 22px;
	color: rgb(51,51,51);
	text-align: center;

}

.our-work h4 {
	font-size: 14px;
	color: #777777;
	text-align: center;
	height: 40px;
	vertical-align: middle;
}